.Card {
    flex: 1;
    margin: 20px;
    border: 3px solid white;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 300px;
}
.Card .Content {
    flex: 1;
    padding: 15px 0px;
    color: black;
}
.Card .Footer {
    background-color: black;
    color: white;
    padding: 5px 0px;
}